@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide scrollbar globally or via class */

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.clip-custom {
  clip-path: inset(35px 35px round 15px);
}
.clip-custom-home {
  clip-path: inset(45px 70px 65px round 15px);
}

@media (min-width: 768px) {
  .clip-custom {
    clip-path: inset(55px 80px round 15px); /* Tablet version */
  }
  .clip-custom-home {
    clip-path: inset(60px 130px 75px round 15px);
  }
}
